<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.first.emp.model.dto.EmpDto" alias="EmpDto"/>
		<typeAlias type="com.kh.first.dept.model.dto.DeptDto" alias="DeptDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/emp-mapper.xml"/>
		<mapper resource="mappers/dept-mapper.xml"/>
	</mappers>
</configuration>
