<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dept">
	<resultMap type="DeptDto" id="resultDept">
		<id property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
	</resultMap>
	<resultMap type="DeptDto" id="resultDept2">
		<id property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
	</resultMap>
	<!-- 사원리스트 -->
	<select id="selectDept" resultType="arraylist" resultMap="resultDept">
		<![CDATA[ 
		SELECT * FROM dept
		]]>
	</select>

	<!-- 사원추가 -->
	<insert id="insertDept" parameterType="DeptDto" statementType="PREPARED" flushCache="true">
	<![CDATA[ 
		INSERT INTO dept 
		VALUES 
			(#{deptno}, #{dname}, #{loc})
	]]>
	</insert>
</mapper>
